@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


html,body,header, #intro {
    height: 100%;
}

//Scrool button
#topBtn {
    position: fixed;
    
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #F33F69;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out .4s;
    &:hover {
        background: #555;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#intro {
    background: url(../img/header-bg.jpg);
    background-size: cover;
}

header {
    color: #fff;
    
}

.fixed {
    background-color: rgba(0, 0, 0, 0.8);
}

nav {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    

    .navbar-brand {
        text-transform: uppercase;
        transition: ease-in-out .4s;
        &:hover {
            opacity: .7;
            color: #b39318 !important;
        }
    }
    
    .nav-link {
        color:#fff !important;
        transition: ease .3s;
        &:hover {
            color: #b39318 !important;
            transform: rotate(10deg);
        } 
    }
}

.story {

    
        background: #962323;
    
    

    .image-wrapper {
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .about-title {
        font-size: 35px;
        font-weight: 700;
        color: #fff;
        padding-bottom: 25px;
        line-height: 2;
       
        &:after {
            display: block;
            content: '';
            position: relative;
            left: 50%;
            width: 80px;
            margin-left: -45px;
            height: 1px;
            background-color: #fff;
        }
       
    }

    .about-text {
        font-size: 18px;
        color: #fff;
        font-weight: 400;
    }
}

.recipes {
    background-image: url(../img/recipes.png);
    background-size: cover;

    .recipes-title {
        font-size: 35px;
        font-weight: 700;
        color: #fff;
        padding-bottom: 25px;
        line-height: 2;
        &:after {
            display: block;
            content: '';
            position: relative;
            left: 50%;
            width: 80px;
            margin-left: -45px;
            height: 1px;
            background-color: #962323;
        }
    }

    .recipes-text {
        color: #fff;
    }
}